<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='register_fail.css') }}"/>
</head>
<body>
    <div class="background">
   <div class="Message" >{{message}}!!!!!</div>
   <div class="Directions"></div>
   <div class="Directions1"></div>


    </div>  
    <script>
       Directions = document.createElement('button');
       Directions.className = 'Directions';
       Directions.textContent = '請點擊並重新回到登入頁面';
       Directions.onclick = function() {
            location.href = '/login1';
        };
        document.querySelector('.background').appendChild(Directions);

       Directions1 = document.createElement('button');
       Directions1.className = 'Directions1';
       Directions1.textContent = '請點擊並重新回到註冊帳號頁面';
       Directions1.onclick = function() {
            location.href = '/register';
        };
        document.querySelector('.background').appendChild(Directions1);
    </script>
</body>
</html>
